html, body, .container-fluid{
    height:100%;
}

img{
    /*efeito embacado*/
    -webkit-filter: blur(5px);
    -moz-filter: blur(5px);
    -ms-filter: blur(5px);
    -o-filter: blur(5px);
    filter: blur(5px);
    height:100% !important;
    width:100%;
}

.ng-scope{
    height:100%;
}
.col-sm-3{
    height:84%;
}

.col-sm-9{
    height:100%;
}

.carousel, .carousel-inner{
    height:100%;
}

.item{
    height:100%;
}

.col-sm-3  > .row{
    height:100%;
}

.container-fluid{
    padding: 0px !important;
}

.jumbotron{
    margin-bottom:0px;
    margin-top: 0px;
    background-color:#063940;
}

#sidebar{
    max-width: 96%;
    background-color: #063940;
    padding-right:0px;
    padding-bottom: 0px;
    height:100%;
}

#sidebar a:hover, a:focus {
    color: #FFF;
    text-decoration:#ECE1C3;
}

#sidebar.nav > li{
    text-align:center;
    font-size:1.3em;
    text-shadow:initial;
} 

h5{
    text-align:center;
    color:#ECE1C3;
    line-height:2.5;
    font-size: 1.5em;
}
div.row div.well{
    background-image: linear-gradient(to bottom,#195E63 0,#063940 100%);
    margin-bottom: 0px;
    
} 

.well {
    border-radius: 0px !important;
    border:none !important;
}

#menu-title div.row{
    margin-right: 0px;
    margin-left:0px;
}

#sidebar.nav > li > a,
#sidebar.nav > li > a:link {
    background-color: #195E63;
    color: #ECE1C3;
    line-height:2;
    border-radius: 0px !important;
}

#sidebar.nav > li > a:hover,
#sidebar.nav > li > a:focus {
    background-color: #3E838C;
}

 .col-sm-9{
    padding-right: 0px; 
    padding-left: 0px;
    min-height:50%;
}

#title-carousel .carousel-caption{
   top:0;
}

#buttons-carousel .carousel-caption button{
    height: 50px; 
    width: 150px;
    font-size:0.9em;
    white-space: normal;
}

#buttons-carousel button.btn-primary{
    color: #ECE1C3;
    background-color: #195E63;
    border-color: #063940;
}

#menu-title{
     color: #063940 !important;
     
}